/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-24, 08:54:48
    Author     : charl
*/

/* Container style */
html{
    height: 100%;
}

.main_container{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.sub_container{
    padding-top: 1em;
    margin-left: 14em;
    height: 100%;
}

.sub_container > div{
    height: 100%;
}

.content{
    background-image: url('../resources/Background2.png');
    background-attachment: fixed;
    padding-left: 2em;
    height: 100%;
}


/* Menu style */
.menu{
    background-image: url('../resources/MenuHeader.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 14em 14em;
    background-color: rgb(019, 083, 171);
    float: left;
    height: 100%;
    width: 14em;
    margin: 0;
    position: fixed;
}

.menu_header{
    width: 12em; 
    height: 10em;
    margin: 1em;
}

.menu_tabs{
    margin-top: 2em;
}

.menu_item{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-size: 12pt;
    border-bottom: 1px solid #030059;
    background-color: rgb(019, 083, 171);
}

.mi_active{
    border-left: 4px solid #018791;
    width: 98%
}

.menu_item span{
    color: #ffffff;
    padding-left: 1em;
}

.menu_item:hover{
    background-color: #5EC78A;
}

.menu_item:active{
    background-color: #50b279;
}

/* Table style */
.table_head {
    color: white;
    background-color: #040073;
    padding-bottom: 0.5em;
    text-align: center;
    font-weight: bold;
}

.table_header{
    border-bottom: 0.5em solid #040073;
    border-right: 1.5em solid transparent;
}

.table{
    border-left: none;
    border-right: none;
}

.table > tbody > tr > td{
    border-bottom: 1px solid rgb(021, 106, 222); 
    padding: 1em 0 1em 0;
}

.text_cell{
    padding-left: 1em;
}

/* Button style */

.button{
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.2em;
    background-color: gray;
    border-radius: 7px 7px 7px 7px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.btn_edit{
    background-color: #8A7460;
    border: 1px solid #B09378;
}

.btn_edit:active{
    background-color: #B09378;
    border: 1px solid #8A7460;
}

.btn_delete{
    background-color: #536E91;
    border: 1px solid #587EB0;
}

.btn_delete:active{
    background-color: #587EB0;
    border: 1px solid #536E91;
}

.btn_submit{
    background-color: #018791;
    border: 1px solid #0296A1;
}

.btn_submit:active{
    background-color: #0296A1;
    border: 1px solid #018791;
   
}

.btn_disabled{
    
}

/* Form style */

.form_section{
    width: 70%;
    margin: 3em;
    text-align: right;
}

.form_section > label{
    font-weight: bold;
    color: rgb(041, 132, 255);
    font-size: 16pt;
    width: 40%;
    float: left;
}

.input{
    border: none;
    border-bottom: 2px solid rgb(025, 110, 224);
    background-color: transparent;
    padding: 0.5em 2em 0.1em 0.5em;
    font-size: 14pt;
    width: 40%;
    outline: none;
}

.input:focus{
    outline: none;
}

/* Bar style */

.bar_container > i{
    color: #5EC78A;
    cursor: pointer;
}

.bar_container > i:active{
    color: #50b279;
}

/* Other styles */

h1{
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #3d57b1;
}

hr{
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #040073, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #040073, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #040073, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #040073, #f0f0f0); 
}

.no_select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
